[packages.memory_wallet]
versioned_files = [
	"crates/memory_wallet/Cargo.toml",
	{ path = "Cargo.toml", dependency = "memory_wallet" },
	{ path = "crates/memory_wallet/readme.md", regex = "memory_wallet = \"(?<version>\\d+\\.\\d+\\.\\d+)\"" },
	"Cargo.lock",
]
scopes = ["memory_wallet"]
changelog = "crates/memory_wallet/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[packages.test_utils_insta]
versioned_files = [
	"crates/test_utils_insta/Cargo.toml",
	{ path = "Cargo.toml", dependency = "test_utils_insta" },
	{ path = "crates/test_utils_insta/readme.md", regex = "test_utils_insta = \"(?<version>\\d+\\.\\d+\\.\\d+)\"" },
	"Cargo.lock",
]
scopes = ["test_utils_insta"]
changelog = "crates/test_utils_insta/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[packages.test_utils_keypairs]
versioned_files = [
	"crates/test_utils_keypairs/Cargo.toml",
	{ path = "Cargo.toml", dependency = "test_utils_keypairs" },
	{ path = "crates/test_utils_keypairs/readme.md", regex = "test_utils_keypairs = \"(?<version>\\d+\\.\\d+\\.\\d+)\"" },
	"Cargo.lock",
]
scopes = ["test_utils_keypairs"]
changelog = "crates/test_utils_keypairs/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[packages.test_utils_solana]
versioned_files = [
	"crates/test_utils_solana/Cargo.toml",
	{ path = "Cargo.toml", dependency = "test_utils_solana" },
	{ path = "crates/test_utils_solana/readme.md", regex = "test_utils_solana = \"(?<version>\\d+\\.\\d+\\.\\d+)\"" },
	"Cargo.lock",
]
scopes = ["test_utils_solana"]
changelog = "crates/test_utils_solana/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[packages.wasm_client_solana]
versioned_files = [
	"crates/wasm_client_solana/Cargo.toml",
	{ path = "Cargo.toml", dependency = "wasm_client_solana" },
	{ path = "crates/wasm_client_solana/readme.md", regex = "wasm_client_solana = \"(?<version>\\d+\\.\\d+\\.\\d+)\"" },
	"Cargo.lock",
]
scopes = ["wasm_client_solana"]
changelog = "crates/wasm_client_solana/changelog.md"
extra_changelog_sections = [{ name = "Notes", types = ["note"] }, { name = "Documentation", types = ["docs"] }]

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"
ignore_conventional_commits = true

[[workflows.steps]]
type = "Command"
command = "dprint fmt"

[[workflows.steps]]
type = "Command"
command = "git add --all"

[[workflows.steps]]
type = "Command"
command = 'git commit -m "chore: prepare releases"'

[[workflows.steps]]
type = "Command"
command = "git push"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"

[[workflows.steps]]
type = "Command"
command = "dprint fmt .changeset/* --allow-no-files"

[[workflows]]
name = "forced-release"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "publish"

[[workflows.steps]]
type = "Command"
command = "cargo workspaces publish --from-git --yes"

[github]
owner = "pina-rs"
repo = "wasm_solana"
